<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="version.t4" #>
<#@ output extension=".json" #>
{
    "EntryMethod":  "NoIntruders.NoIntruders.Init",
    "Version":      "<#= this.version #>.<#= this.buildID #>",
    "AssemblyName": "FALSE-STUB",
    "Repository":   "FALSE-STUB",
    "HomePage":     "FALSE-STUB",
    "Author":       "FALSE-STUB",

    "Requirements": ["PBUtilities"],
    "ID":           "NoIntruders",
    "DisplayName":  "No Intruders"
}
